<div class="comment">
	<p class="comment-content"><%= comment.content %></p>
	<p class="comment-posted"><%= comment.user.email %>さんによって <%= time_ago_in_words(comment.created_at) %> 前に投稿されました。</p>
	   
		<% if user_signed_in? %>
			<% if comment.user_id == current_user.id %>
				<div class="button-cover" >
				<%= link_to "編集", edit_message_comment_path(comment.message, comment),class: 'btn btn-default' %>
				<%= link_to "削除", message_comment_path(comment.message, comment), method: :delete,data:{confirm: 'Are you sure?'} ,class: 'btn btn-danger'%>
				</div>
			<% end %>
		<% end %>
	   
</div>
